@import 'reset-css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100svh;
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #2b283a;
  background-color: #f5f7fb;
}

body::before {
  content: '';
  display: block;
  /* width: 20vw;
  max-width: 297px; */
  width: 200px;
  height: 270px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(assets/blob-yellow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

body::after {
  content: '';
  display: block;
  width: 297px;
  height: 240px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(assets/blob-blue.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1,
h2 {
  font-weight: 700;
  line-height: normal;
}

h1 {
  font-size: 6rem;
  margin-bottom: 0.4em;
}

h2,
h3 {
  font-size: clamp(2.3rem, 2vw + 1rem, 3rem);
  line-height: normal;
  margin-bottom: 0.8em;
}

#root {
  max-width: 80rem;
  padding: 4rem;
  z-index: 1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  font-family: inherit;
  font-size: clamp(2.2rem, 2vw + 1rem, 3rem);
  /* font-size: 3rem; */
  color: #fff;
  background-color: #4d5b9e;
  padding: 1em 3.6em;

  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 1em;
  border-color: transparent;
}
button:hover {
  /* border-color: #646cff; */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.button--large {
  margin-top: 2em;
}

button.button--small {
  font-size: 2rem;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.question {
  padding: 2.6rem 0;
  border-bottom: 1px solid #dbdef0;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem 1.6rem;
  margin-bottom: 1.2rem;
}

.answer {
  flex-shrink: 0;
}

label {
  position: relative;
  font-size: 2rem;
  padding: 0.2em 1em;
  border-radius: 0.6em;
  border: 0.2rem solid #4d5b9e;
  cursor: pointer;
}

input[type='radio']:focus + label {
  outline: rgba(77, 97, 171, 0.5) auto 3px;
}

input[type='radio']:checked + label {
  background-color: #d6dbf5;
  border-color: #d6dbf5;
  color: #293264;
}

input[type='radio']:disabled + label {
  cursor: default;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
}

input[type='radio']:checked + label.correct-answer,
label.correct-answer {
  background-color: #94d7a2;
  border-color: #94d7a2;
}

input[type='radio'] + label.incorrect-answer {
  opacity: 50%;
}

input[type='radio']:checked + label.incorrect-answer {
  background-color: #f8bcbc;
  border-color: #f8bcbc;
  color: #293264;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.6rem 0;
}

.score {
  font-size: 2.2rem;
  font-weight: 700;
}

@media (max-width: 790px) {
  .controls {
    flex-direction: column;
    text-align: center;
    row-gap: 2.6rem;
  }
}

@media (max-width: 790px) and (orientation: portrait) {
  .answers {
    flex-direction: column;
  }

  label {
    display: block;
    text-align: center;
  }
}
